<!DOCTYPE html>
<html>
    <header>
        <title>زيادة مشاهدات يوتيوب حقيقي</title>
    </header>
    <body>
        {% for n in range(count) %}
            {% for url in url_list %}
                <iframe width="140" height="140" src="{{ url }}"></iframe>
            {% endfor %}
        {% endfor %}
    </body>
    <script type="text/javascript">
        let mins2 = {{minutes}};
        setTimeout(function () {
            // var newTab = window.open(d, '_blank');
            window.open(window.location.href, "_blank");
        }, mins2  * 60 * 1000);
        setTimeout(function () {
            window.close();
        }, mins2  * 60 * 1004);
         setTimeout(function () {
            location.reload()
        }, mins2  * 60 * 1006);
    </script>
</html>
